<!-- Hero -->
<section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">Crimson Angel</h1>
        <p class="hero-main-text">Awaken Your Inner Hero in</p>
        <p class="hero-big-text">Enter a world where pixel legends come alive in blazing combat. Crimson Angel blends classic ARPG nostalgia with modern
        strategy and stunning visuals. Create your hero, battle fearsome bosses, and rise through the PvP ranks to forge your
        legend.</p>
        <div class="hero-container">
        <div class="hero-wrapper">
            <p>Retro-Inspired Fantasy</p>
            <p>Divine Wings, Tactical Battles</p>
            <p>PvE Dungeons & Real-Time PvP</p>
        </div>
        <div class="hero-icon-wrapper">
            <a class="hero-link" href="https://discord.com/invite/uVf2wxA46w">Join
                <img class="hero-icon" src="/img/hero/discord.png" alt="Discord" width="16" height="16" loading="lazy">
            </a>
            <a class="hero-link" href="https://www.facebook.com/CrimsonAngelMobile/">Follow
                <img class="hero-icon" src="/img/hero/facebook.png" alt="Facebook" width="16" height="16" loading="lazy">
            </a>
        </div>
    </div>
    </div>
</section>
<!-- About the Game -->
<section class="about-section">
    <div class="container">
        <div class="title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="about-title">About the Game</h2>
        </div>
        <h3 class="about-subtitle">Classic Soul. Modern Power.</h3>
        <p class="about-text">Crimson Angel is a throwback to golden-age RPGs—reborn with fierce PvP and dungeon strategy. The world is threatened by
        an ancient evil awakening in the shadows of forgotten ruins. You are the chosen spark, born with the power to wield
        divine light against the dark. Equip, evolve, and elevate your legend across a realm of fire, crystal, and steel.</p>
    </div>
</section>
<!-- Game Features -->
<section class="features-section">
    <div class="container">
        <div class="title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="features-title">Game Features</h2>
        </div>
        <ul class="features-list-one">
            <li class="features-item">
               <p class="features-subtitle">Legendary Boss Battles</p>
            <p class="features-text">Outsmart and outfight massive enemies with complex mechanics</p>
            </li>
            <li class="features-item">
            <p class="features-subtitle">Divine Dungeons</p>
            <p class="features-text">Conquer multi-layered maps with traps, ambushes, and secret paths</p>
            </li>
            <li class="features-item">
            <p class="features-subtitle">Dynamic Combat System</p>
            <p class="features-text">Fluid, real-time tactical action with skill chaining and dodging</p>
            </li>
        </ul>
        <ul class="features-list-two">
            <li class="features-item">
            <p class="features-subtitle">Custom Hero Builds</p>
            <p class="features-text">Modify your abilities and gear for solo, raid, or PvP dominance</p>
            </li>
            <li class="features-item">
            <p class="features-subtitle">PvP Arena</p>
            <p class="features-text">Real-time duels to climb rankings and unlock exclusive cosmetics</p>
            </li>
            <li class="features-item">
            <p class="features-subtitle">Mythic Gear Crafting</p>
            <p class="features-text">Forge weapons, wings, and relics to evolve your class</p>
            </li>
            <li class="features-item">
            <p class="features-subtitle">Cross-Region Events</p>
            <p class="features-text">Participate in global challenges, time-limited events, and guild raids</p>
            </li>
        </ul>
    </div>
</section>
<!-- Hero Customization -->
<section class="custom-section">
    <div class="container">
        <div class="title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="custom-title">Hero Customization</h2>
        </div>
        <h3 class="custom-subtitle">Make Your Hero Truly Yours</h3>
        <ul class="custom-list">
            <li class="custom-item">
                <figure class="custom-figure">
                    <img class="custom-img" src="/img/custom/one.png" alt="Hero Customization" width="80" height="80">
                    <figcaption class="custom-img-title">Choose your base class and evolve through multiple ascensions</figcaption>
                </figure>
            </li>
            <li class="custom-item">
                <figure class="custom-figure">
                    <img class="custom-img" src="/img/custom/two.png" alt="Hero Customization" width="80" height="80">
                    <figcaption class="custom-img-title custom-img-title-two">Collect elegant costumes and glowing wings</figcaption>
                </figure>
            </li>
            <li class="custom-item">
                <figure class="custom-figure">
                    <img class="custom-img" src="/img/custom/three.png" alt="Hero Customization" width="80" height="80">
                    <figcaption class="custom-img-title custom-img-title-two">Mix & match armor sets with elemental affinities</figcaption>
                </figure>
            </li>
            <li class="custom-item">
                <figure class="custom-figure">
                    <img class="custom-img" src="/img/custom/four.png" alt="Hero Customization" width="80" height="80">
                    <figcaption class="custom-img-title">Enhance specific talents like speed, evasion, burst damage, or healing</figcaption>
                </figure>
            </li>
            <li class="custom-item">
                <figure class="custom-figure">
                    <img class="custom-img" src="/img/custom/five.png" alt="Hero Customization" width="80" height="80">
                    <figcaption class="custom-img-title custom-img-title-two">Respec freely to adapt to new bosses or PvP metas</figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>
<!-- Dungeons & PvE -->
 <section class="pve-section">
    <div class="container">
        <div class="title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="pve-title">Hero Customization</h2>
        </div>
        <h3 class="pve-subtitle">Conquer Darkness with Strategy</h3>
        <ul class="pve-list">
            <li class="pve-item"><p class="pve-text">Each dungeon is hand-crafted with puzzle elements and battle traps</p></li>
            <li class="pve-item"><p class="pve-text pve-text-max">Find hidden keys, unlock ancient vaults, and gain legendary loot</p></li>
            <li class="pve-item"><p class="pve-text">Solo or co-op raid modes supported</p></li>
            <li class="pve-item"><p class="pve-text pve-text-max">Daily, weekly, and elite-tier dungeon runs with escalating rewards</p></li>
            <li class="pve-item"><p class="pve-text">Face waves of twisted beasts, elemental guardians, and cursed warriors</p></li>
        </ul>
    </div>
 </section>
 <!-- PvP Arena -->
<section class="pvp-section">
    <div class="container">
        <div class="title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="pvp-title">PvP Arena</h2>
        </div>
        <h3 class="pvp-subtitle">Climb. Clash. Conquer.</h3>
        <ul class="pvp-list">
            <li class="pvp-item">
                <img class="pvp-img" src="/img/pvp/one.png" alt="Climb. Clash. Conquer." loading="lazy">
                <p class="pvp-text">Battle in real-time 1v1 or 3v3 ranked matches</p>
            </li>
            <li class="pvp-item">
                <img class="pvp-img" src="/img/pvp/two.png" alt="Climb. Clash. Conquer." loading="lazy">
                <p class="pvp-text">Build PvP-specific skill rotations and defense counters</p>
            </li>
            <li class="pvp-item">
                <img class="pvp-img" src="/img/pvp/three.png" alt="Climb. Clash. Conquer." loading="lazy">
                <p class="pvp-text">Global ranking with visual leaderboard titles and badges</p>
            </li>
            <li class="pvp-item">
                <img class="pvp-img" src="/img/pvp/four.png" alt="Climb. Clash. Conquer." loading="lazy">
                <p class="pvp-text">Earn season rewards, PvP-only gear, and exclusive mounts</p>
            </li>
            <li class="pvp-item">
                <img class="pvp-img" src="/img/pvp/five.png" alt="Climb. Clash. Conquer." loading="lazy">
                <p class="pvp-text">Spectator and replay support (coming soon)</p>
            </li>
        </ul>
    </div>
</section>
<!-- Boss Battles -->
<section class="boss-section">
    <div class="container">
        <div class="title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="boss-title">Boss Battles</h2>
        </div>
        <h3 class="boss-subtitle">Face Titans.<br class="mob"/> Earn Glory.</h3>
        <ul class="boss-list">
            <li class="boss-item">
                <img class="boss-img" src="/img/boss/arrow.png" alt="Arrow" width="44" height="40" loading="lazy">
                <p class="boss-text">Fight epic bosses with unique elemental mechanics</p>
            </li>
            <li class="boss-item boss-item-two">
                <img class="boss-img" src="/img/boss/arrow.png" alt="Arrow" width="44" height="40" loading="lazy">
                <p class="boss-text">Time your skills to avoid massive attacks and environmental hazards</p>
            </li>
            <li class="boss-item boss-item-three">
                <img class="boss-img" src="/img/boss/arrow.png" alt="Arrow" width="44" height="40" loading="lazy">
                <p class="boss-text">Team-based world bosses spawn during server events</p>
            </li>
            <li class="boss-item boss-item-four">
                <img class="boss-img" src="/img/boss/arrow.png" alt="Arrow" width="44" height="40" loading="lazy">
                <p class="boss-text">Earn drops like rare crystals, class-specific weapons, and pet eggs</p>
            </li>
            <li class="boss-item boss-item-five">
                <img class="boss-img" src="/img/boss/arrow.png" alt="Arrow" width="44" height="40" loading="lazy">
                <p class="boss-text">Unlock boss codex entries for lore and strategy hints</p>
            </li>
        </ul>
    </div>
</section>
<!-- Game Gallery -->
<section class="gallery-section">
    <div class="container gallery-container">
        <div class="title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="gallery-title">Game Gallery</h2>
        </div>
        <div class="custom-navigation">
            <button class="custom-arrow custom-prev" aria-label="Previous slide">
                <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 25L0.999999 13L13 0.999999" stroke="#010101" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        
            <button class="custom-arrow custom-next " aria-label="Next slide">
                <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 25L0.999999 13L13 0.999999" stroke="#010101" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" /> 
               </svg>
            </button>
        </div>

        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper gallery-swiper-wrapper">
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/one-desk.png  1x,
                        /img/gallery/one-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                        <source srcset="
                        /img/gallery/one-mob.png 1x,
                        /img/gallery/one-mob@2x.png 2x
                      " media="(max-width: 1438px)" />
                        <img class="gallery-logo" src="/img/gallery/one-mob.png" alt="Crimson Angel" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/two-desk.png  1x,
                                        /img/gallery/two-desk@2x.png 2x
                                     " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/two-mob.png 1x,
                                        /img/gallery/two-mob@2x.png 2x
                                      " media="(max-width: 1438px)" />
                        <img class="gallery-logo" src="/img/gallery/two-mob.png" alt="Crimson Angel" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/three-desk.png  1x,
                                        /img/gallery/three-desk@2x.png 2x
                                     " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/three-mob.png 1x,
                                        /img/gallery/three-mob@2x.png 2x
                                      " media="(max-width: 1438px)" />
                        <img class="gallery-logo" src="/img/gallery/three-mob.png" alt="Crimson Angel" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/four-desk.png  1x,
                                        /img/gallery/four-desk@2x.png 2x
                                     " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/four-mob.png 1x,
                                        /img/gallery/four-mob@2x.png 2x
                                      " media="(max-width: 1438px)" />
                        <img class="gallery-logo" src="/img/gallery/four-mob.png" alt="Crimson Angel" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/five-desk.png  1x,
                                        /img/gallery/five-desk@2x.png 2x
                                     " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/five-mob.png 1x,
                                        /img/gallery/five-mob@2x.png 2x
                                      " media="(max-width: 1438px)" />
                        <img class="gallery-logo" src="/img/gallery/five-mob.png" alt="Crimson Angel" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/six-desk.png  1x,
                                        /img/gallery/six-desk@2x.png 2x
                                     " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/six-mob.png 1x,
                                        /img/gallery/six-mob@2x.png 2x
                                      " media="(max-width: 1438px)" />
                        <img class="gallery-logo" src="/img/gallery/six-mob.png" alt="Crimson Angel" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/seven-desk.png  1x,
                                        /img/gallery/seven-desk@2x.png 2x
                                     " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/seven-mob.png 1x,
                                        /img/gallery/seven-mob@2x.png 2x
                                      " media="(max-width: 1438px)" />
                        <img class="gallery-logo" src="/img/gallery/seven-mob.png" alt="Crimson Angel" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/eight-desk.png  1x,
                                        /img/gallery/eight-desk@2x.png 2x
                                     " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/eight-mob.png 1x,
                                        /img/gallery/eight-mob@2x.png 2x
                                      " media="(max-width: 1438px)" />
                        <img class="gallery-logo" src="/img/gallery/eight-mob.png" alt="Crimson Angel" loading="lazy" />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Player Reviews -->
<section class="reviews-section">
    <div class="container">
        <div class="title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="reviews-title">Player Reviews</h2>
        </div>
            <ul class="reviews-list">
                <li class="rewiews-item">
                    <div class="reviews-wrapper">
                    <p class="reviews-author">Eliza Tilson:</p>
                    <img class="reviews-star-img" src="/img/reviews/five-stars.png" alt="5 Star" width="70" loading="lazy">
                </div>
                <p class="reviews-text">“Crimson Angel hits that old-school RPG feel but adds gorgeous PvP. I play every day.”</p>
                </li>
                <li class="rewiews-item">
                    <div class="reviews-wrapper">
                        <p class="reviews-author">Zahir Kijash:</p>
                        <img class="reviews-star-img" src="/img/reviews/five-stars.png" alt="5 Star" width="70"
                            loading="lazy">
                    </div>
                    <p class="reviews-text">“The divine wings and dungeons are top-tier. Boss fights are both challenging and rewarding.”</p>
                </li>
                <li class="rewiews-item">
                    <div class="reviews-wrapper">
                        <p class="reviews-author">Mari Voichek:</p>
                        <img class="reviews-star-img" src="/img/reviews/four-stars.png" alt="4 Star" width="56" 
                            loading="lazy">
                    </div>
                    <p class="reviews-text">“It feels like a love letter to 90s RPGs, but with crazy polished mobile controls. Strongly recommend!”</p>
                </li>
                <li class="rewiews-item">
                    <div class="reviews-wrapper">
                        <p class="reviews-author">Dante Rowland:</p>
                        <img class="reviews-star-img" src="/img/reviews/five-stars.png" alt="5 Star" width="70"
                            loading="lazy">
                    </div>
                    <p class="reviews-text">“PvP is buttery smooth. I love crafting my perfect build to climb the ranks. I realy enjoy playing it.”</p>
                </li>
                <li class="rewiews-item">
                    <div class="reviews-wrapper">
                        <p class="reviews-author">Aria Neilson:</p>
                        <img class="reviews-star-img" src="/img/reviews/five-stars.png" alt="5 Star" width="70" 
                            loading="lazy">
                    </div>
                    <p class="reviews-text">“Every cosmetic looks stunning. I’ve never spent this much time customizing a hero.”</p>
                </li>
            </ul>
       
    </div>
</section>
<!-- FAQ -->
<section class="faq-section">
    <div class="container">
        <div class="title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="faq-title">FAQ</h2>
        </div>
        <ul class="faq-acc">
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        Is Crimson Angel free to play?
        
                        <span class="faq-acc-arr arr-down">
                            <img class="faq-img" src="/img/arrrow-down.png" alt="Arrow" width="48" height="48">
                        </span>
                    </button>
                </h3>
                <div class="faq-acc-content">
                <p class="faq-acc-el-descr-frame text-frame">Yes! Crimson Angel is free to download and play. It includes optional in-app purchases for cosmetic items, boosters, and
                convenience features, but the core game experience is fully accessible without spending money.</p>
                </div>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        Do I need an internet connection to play?
            
                        <span class="faq-acc-arr arr-down">
                            <img class="faq-img" src="/img/arrrow-down.png" alt="Arrow" width="48" height="48">
                        </span>
                    </button>
                </h3>
                <div class="faq-acc-content">
                <p class="faq-acc-el-descr-frame text-frame">Yes, a stable internet connection is required to play Crimson Angel. Since the game includes online features such as PvP
                arenas, co-op dungeons, and real-time updates, a live connection ensures the best experience.</p>
                </div>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        Can I customize my character?
            
                        <span class="faq-acc-arr arr-down">
                            <img class="faq-img" src="/img/arrrow-down.png" alt="Arrow" width="48" height="48">
                        </span>
                    </button>
                </h3>
                <div class="faq-acc-content">
                <div class="faq-acc-el-descr-frame text-frame">
                <p>Absolutely. The game offers deep character customization including:</p>
                <ul class="faq-list">
                    <li>A wide range of costumes, armor sets, and wings</li>
                    <li>Unlockable skills and talents</li>
                    <li>Upgrade paths that let you shape your combat role (DPS, tank, support, etc.)</li>
                    <li>Visual effects and auras that let you express your style in battle</li>
                </ul>
            </div>
                </div>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        What types of gameplay modes are available?
            
                        <span class="faq-acc-arr arr-down">
                            <img class="faq-img" src="/img/arrrow-down.png" alt="Arrow" width="48" height="48">
                        </span>
                    </button>
                </h3>
                <div class="faq-acc-content">
                <div class="faq-acc-el-descr-frame text-frame">
                <p>Crimson Angel includes a variety of modes:</p>
                <ul class="faq-list">
                    <li>PvE Campaign: Explore story-driven chapters across mystical zones</li>
                    <li>Legendary Boss Raids: Team-based battles against massive foes</li>
                    <li>Solo & Co-op Dungeons: Tactical dungeon runs with real-time action</li>
                    <li>PvP Arena: Competitive 1v1 and team-based ranked matches</li>
                    <li>Events: Time-limited seasonal or cross-server events with rare loot</li>
                </ul>
            </div>
                </div>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        How does gear progression work?
            
                        <span class="faq-acc-arr arr-down">
                            <img class="faq-img" src="/img/arrrow-down.png" alt="Arrow" width="48" height="48">
                        </span>
                    </button>
                </h3>
                <div class="faq-acc-content">
                <div class="faq-acc-el-descr-frame text-frame">
                <p>Gear is obtained through dungeon rewards, world drops, crafting, and PvP. You can:</p>
                <ul class="faq-list">
                    <li>Upgrade equipment using materials earned in-game</li>
                    <li>Refine stats to match your build</li>
                    <li>Fuse gear to create higher rarity items</li>
                    <li>Use set bonuses for synergistic power-ups</li>
                </ul>
            </div>
                </div>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        What is Divine Power, and how do I unlock it?
            
                        <span class="faq-acc-arr arr-down">
                            <img class="faq-img" src="/img/arrrow-down.png" alt="Arrow" width="48" height="48">
                        </span>
                    </button>
                </h3>
                <div class="faq-acc-content">
                <p class="faq-acc-el-descr-frame text-frame">Divine Power is a high-tier ability system unlocked after reaching a certain level and completing key storyline quests.
                Once activated, it lets your hero enter a divine combat state with enhanced stats and special effects. It plays a major
                role in late-game boss fights and PvP matches.</p>
                </div>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        Is there a guild or alliance system?
            
                        <span class="faq-acc-arr arr-down">
                            <img class="faq-img" src="/img/arrrow-down.png" alt="Arrow" width="48" height="48">
                        </span>
                    </button>
                </h3>
                <div class="faq-acc-content">
                <div class="faq-acc-el-descr-frame text-frame">
                <p>
                    Yes! You can join or create guilds, also known as Factions. Benefits include:
                </p>
                <ul class="faq-list">
                    <li>Access to Faction Wars and co-op raids</li>
                    <li>Shared buffs and guild technologies</li>
                    <li>A community hub with chat and events</li>
                    <li>Guild stores with exclusive items</li>
                </ul>
            </div>
                </div>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        Can I play Crimson Angel on multiple devices?
            
                        <span class="faq-acc-arr arr-down">
                            <img class="faq-img" src="/img/arrrow-down.png" alt="Arrow" width="48" height="48">
                        </span>
                    </button>
                </h3>
                <div class="faq-acc-content">
                <p class="faq-acc-el-descr-frame text-frame">Yes. Your progress is saved to your account, so as long as you log in with the same credentials, you can continue
                playing on any compatible device. Ensure you’ve linked your game account to Google, Facebook, or Email for security.</p>
                </div>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        What should I do if I encounter a bug or crash?
            
                        <span class="faq-acc-arr arr-down">
                            <img class="faq-img" src="/img/arrrow-down.png" alt="Arrow" width="48" height="48">
                        </span>
                    </button>
                </h3>
                <div class="faq-acc-content">
                <p class="faq-acc-el-descr-frame text-frame">Please contact our support team via:<br/>
                <a href="mailto: support@crimsonwhale.pro">Email: support@crimsonwhale.pro</a>
            <br/> Or use the in-game "Report Issue" button under Settings > Support <br/>Include your player ID, device type, and a brief description of the issue for faster assistance.</p>
                </div>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        Are there regular updates and new content?
            
                        <span class="faq-acc-arr arr-down">
                            <img class="faq-img" src="/img/arrrow-down.png" alt="Arrow" width="48" height="48">
                        </span>
                    </button>
                </h3>
                <div class="faq-acc-content">
                <div class="faq-acc-el-descr-frame text-frame">
                <p>Definitely. The team behind Crimson Angel releases frequent updates featuring:</p>
                <ul class="faq-list">
                    <li>New story chapters</li>
                    <li>Limited-time events and challenges</li>
                    <li>Fresh gear and costumes</li>
                    <li>Gameplay improvements and balance tweaks<br/> Follow the official
                       <a class="faq-link" href="https://www.facebook.com/CrimsonAngelMobile/">Facebook</a> and <a class="faq-link" href="https://discord.com/invite/uVf2wxA46w">Discord</a> for announcements and patch notes.</li>
                </ul>
                </div>
                </div>
            </li>
            </ul>
    </div>
</section>
<!-- Download -->
<section class="download-section">
    <div class="container">
        <div class="title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="download-title">Download</h2>
        </div>
        <h3 class="download-subtitle">Download Crimson Angel Today</h3>
        <p class="download-text">Equip your wings, ready your sword, and become the hero this realm needs.</p>
        <a class="download-link" href="https://cam.gamehollywood.com/">
            <img src="/img/download/link.png" alt="Visit" width="40" height="41" loading="lazy"><p class="visit-text"><span class="visit-span">Visit</span><br/> 
            Official Website </p>
        </a>
    </div>
</section>
<!-- Contact & Community -->
<section class="contact-section">
    <div class="container contact-container">
        <div class="title-container contact-title-container">
            <img class="star" src="/img/star.png" alt="Star" width="14" height="18" loading="lazy">
            <h2 class="contact-title">Contact & Community</h2>
        </div>
        <div class="contact-wrapper">
            <a class="contact-link" href="mailto:support@crimsonwhale.pro">
                <img class="contact-img" src="/img/email.png" alt="Email" width="24" height="25" loading="lazy">support@crimsonwhale.pro
            </a>
            <a class="contact-link" href="https://discord.com/invite/uVf2wxA46w">Join
                <img class="contact-icon" src="/img/hero/discord.png" alt="Discord" width="25" height="25" loading="lazy">
            </a>
            <a class="contact-link" href="https://www.facebook.com/CrimsonAngelMobile/">Follow
                <img class="contact-icon" src="/img/hero/facebook.png" alt="Facebook" width="25" height="25" loading="lazy">
            </a>
        </div>
    </div>
</section>