body{
  background: #010101;
  font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #f1f1f1;
}

h2{
  font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #f1f1f1; 
}
h3{
  font-family: "Cinzel", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    background: linear-gradient(180deg, #e1cc6d 0%, #f1f1f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-container{
  display: flex;
  align-items: center;
  gap: 8px;
}
@media only screen and (min-width: 1439px) {
  body{
    font-size: 18px;
  }
  h3{
    font-size: 48px;
  }
}