.footer{
    background-image: url("/img/footer/mob.png");
    background-repeat: no-repeat;
    background-position: top 70px center;
    background-size: 100% 139px;
}
.footer-navigation{
    display: flex;
    justify-content: center;
    gap: 24px;
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin-bottom: 160px;
}
.footer-text{
    font-weight: 400;
        font-size: 12px;
}
@media only screen and (min-width: 1439px) {
.footer {
background-image: url("/img/footer/desk.png");
background-repeat: no-repeat;
background-position: top 70px center;
background-size: contain; 
}
.footer-navigation{
    justify-content: end;
    margin-top: 107px;
    margin-bottom: 0;
    font-size: 14px;
}
.footer-text{
    text-align: left;
    margin-top: -10px;
    font-size: 14px;
}
}