/* Hero */
.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top 174px center;
    background-size: contain;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.hero-main-text{
    font-family: "Cinzel", sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: -0.04em;
        text-align: center;
        color: #f1f1f1;
        margin-top: 40px;
}
.hero-big-text{
    margin-top: 230px;
}
.hero-wrapper{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
        font-size: 14px;
}
.hero-icon-wrapper{
    margin-top: 16px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    font-weight: 300;
        font-size: 14px;
}
.hero-link{
    display: flex;
    align-items: center;
    gap: 8px;
}
@media only screen and (min-width: 1439px) {
 .hero-section{
    background-image: url("/img/hero/desk.png");
        background-repeat: no-repeat;
        background-position: top 60px center;
        background-size: 100% 775px;
        height: 800px;
 }
 .hero-main-text{
    font-weight: 700;
        font-size: 64px;
 }
 .hero-big-text{
margin-top: 496px;
font-weight: 400;
    font-size: 18px;
    width: 1062px;
margin-left: auto;
margin-right: auto;
 }
.hero-container{
    display: flex;
    margin-top: 26px;
    gap: 41px;
    justify-content: center;
}
.hero-wrapper{
    flex-direction: row;
    margin-top: 0;
    gap: 24px;
}
.hero-icon-wrapper{
    margin-top: 0;
    gap: 24px;
}
}
/* About the Game */
.about-section {
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    height: 603px;
}
.title-container{
    margin-bottom: 40px;
}
.about-subtitle{
    margin-bottom: 22px;
}
.about-text{
    font-size: 17px;
}
@media only screen and (min-width: 1439px) {
    .about-section{
        background-image: url("/img/about/desk.png"); 
        height: 1000px;
    }
.title-container{
    margin-bottom: 24px;
}
.about-subtitle{
    margin-bottom: 40px;
}
.about-text{
    width: 1062px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
}
/* Game Features */
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: top 390px center;
    background-size: contain;
}
.features-list-one{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.features-subtitle{
    margin-bottom: 8px;
    font-family: "Cinzel", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: #e1cc6d;
}
.features-text{
    width: 308px;
    margin-left: auto;
    margin-right: auto;
}
.features-list-two{
    margin-top: 156px;
    display: flex;
        flex-direction: column;
        gap: 16px;
}
@media only screen and (min-width: 1439px) {
.features-section {
background-image: url("/img/features/desk.png");
background-repeat: no-repeat;
background-position: top 90px center;
background-size: contain;
}
.features-list-one{
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}
.features-item{
    width: 340px;
    height: 102px;
}
.features-subtitle {
    margin-bottom: 16px;
    font-size: 24px;
}
.features-text{
    width: 340px;
}
.features-list-two{
    flex-direction: row;
gap: 64px;
column-gap: 400px;
flex-wrap: wrap;
justify-content: center;
margin-top: 64px;
}
}
/* Hero Customization */
.custom-section{
    background-image: url("/img/custom/mob.png");
    background-repeat: no-repeat;
    background-position: bottom  center;
    background-size: contain;
    height: 906px;
}
.custom-subtitle{
    margin-bottom: 40px;
}
.custom-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.custom-figure{
    display: flex;
    align-items: center;
    gap: 8px;
}
.custom-img-title{
    width: 231px;
}
@media only screen and (min-width: 1439px) {
.custom-section{
    background-image: url("/img/custom/desk.png");
    height: 960px;
}
.custom-subtitle{
    margin-bottom: 48px;
}
.custom-list{
    flex-direction: row;
}
.custom-item{
    padding: 0px 12px;
        width: 240px;
        height: 160px;
}
.custom-figure{
    flex-direction: column;

}
.custom-img-title-two{
    margin-top: 8px;
}
}
/* Dungeons & PvE */
.pve-section{
    background-image: url("/img/pve/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    height: 780px;
}
.pve-subtitle{
    margin-bottom: 40px;
}
.pve-list{
    list-style-type: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.pve-item{
text-align: left;
}
@media only screen and (min-width: 1439px) {
 .pve-section{
background-image: url("/img/pve/desk.png");
height: 740px;
}
.pve-subtitle{
    margin-bottom: 313px;
}
.pve-list{
    flex-direction: row;
    list-style-type:none;
    gap: 24px;
    padding-left: 0;
    justify-content: center;
}
.pve-item{
    border-radius: 8px;
        padding: 24px 16px;
        width: 230px;
        height: 148px;
        background: #010101;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
}
.pve-text{
    width: 178px;
}
.pve-text-max{
    width: 198px;
}
}
/* PvP Arena */
.pvp-subtitle{
    margin-bottom: 40px;
}
.pvp-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.pvp-item{
    border: 1px solid #e1cc6d;
        border-radius: 8px;
        padding: 16px;
        width: 343px;
        height: 160px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
}
.pvp-img{
    width: 60px;
    height: 60px;
}
.pvp-text{
    font-size: 20px;
}
@media only screen and (min-width: 1439px) {
  .pvp-subtitle{
    margin-bottom: 48px;
  }
  .pvp-list{
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }
  .pvp-item{
    padding: 24px;
        width: 230px;
        height: 236px;
        gap: 16px;
  }
  .pvp-img{
    width: 100px;
    height: 100px;
  }
  .pvp-text{
    font-size: 16px;
  }
}
/* Boss Battles */
.boss-section{
    background-image: url("/img/boss/mob.png");
    background-repeat: no-repeat;
    background-position: top 200px center;
    background-size: contain;
}
.boss-list{
margin-top: 212px;
display: flex;
flex-direction: column;
}
.boss-item{
    border-radius: 4px;
        padding: 16px;
        width: 343px;
        height: 80px;
        background: #010101;
        display: flex;
        align-items: center;
        gap: 8px;
}
.boss-text{
    text-align: left;
 }
 @media only screen and (min-width: 1439px){
 .boss-section{
    background-image: url("/img/boss/desk.png");
    height: 820px;
 }
 .mob{
    display: none;
 }
 .boss-list{
    margin-top: 175px;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
 }
 .boss-text{
  font-size: 16px;   
 }
 .boss-item{
    width: 464px;
    height: 56px;   
 }
 .boss-item-two{
    width: 590px;
 }
 .boss-item-three{
    width: 490px;
 }
 .boss-item-four{
    width: 570px;
 }
 .boss-item-five{
    width: 480px;
 }
 }
 /* Game Gallery */
 .custom-navigation{
    display: none;
 }
 .gallery-swiper-slide{
    cursor: pointer;
 }
 @media only screen and (min-width: 1439px) {
  .gallery-swiper{
    width: 1100px;
  }
  .gallery-container{
    position: relative;
  }
  .custom-navigation{
    display: flex;
 gap: 1120px;
    position: absolute;
    z-index: 200;
    top:48%;
}
.custom-arrow{
    border-radius: 100px;
    background-color: #f1f1f1;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.custom-next{
    transform: rotate(180deg);
}
.custom-arrow:hover,
.custom-arrow:active{
    background-color:#e1cc6d;
}
 }
/* Player Reviews */
.reviews-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.rewiews-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #e1cc6d;
        border-radius: 8px;
        padding: 16px;
        width: 343px;
        height: 97px;
} 
.reviews-wrapper{
display: flex;
justify-content: space-between;
}
.reviews-author{
    font-size: 14px;
    font-weight: 600;
}
.reviews-text{
    font-size: 12px;
    text-align: left;
}
.reviews-star-img{
    height: 14px;
}
@media only screen and (min-width: 1439px) {
.reviews-list {
flex-direction: row;
gap: 24px;
}
.rewiews-item{
    width: 230px;
        height: 157px;
}
.reviews-text {
    font-size: 16px;
    width: 203px;
}
}
/* FAQ */
.faq-acc {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 343px;
    margin: 0 auto;
}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;

}

.faq-acc-el-trigger {
    padding: 8px;
    width: 100%;
    height: auto;
    background: inherit;
    border: none;
    border-bottom: 1px solid #e1cc6d;
    font-family: "Exo", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        color: #f1f1f1;
        background: none;
            -webkit-background-clip: initial;
            -webkit-text-fill-color: initial;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    min-width: 48px;
}

.faq-img {
    transition: transform 0.3s ease;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(180deg);
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el-descr-frame {
    width: 343px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 8px 24px;
    transition: max-height 1s ease, opacity 0.5s ease, padding 0.5s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}


.faq-acc-el.open .faq-acc-el-descr-frame {
    opacity: 1;
    background-color: inherit;

}

.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    padding: 8px 24px;
    opacity: 1;
    background-color: inherit;
    font-size: 12px;
    text-align: left;
}
.faq-list{
    list-style-type: disc;
    padding-left: 20px;
}
.faq-link{
    text-decoration: underline;
        text-decoration-skip-ink: none;
        cursor: pointer;
}
.faq-acc-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    visibility: hidden;
}

.faq-acc-el.open .faq-acc-content {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
    padding: 8px 0;
}
@media only screen and (min-width: 1439px) {
 .faq-acc{
    width: 1062px;
 }
 .faq-acc-el-trigger {
    font-size: 24px;
 }
 .faq-acc-el-descr-frame {
    width: 1062px;
 }
 .faq-acc-el.open .faq-acc-el-descr-frame {
    font-size: 14px;
 }
}
/* Download */
.download-section{
    background-image: url("/img/download/mob.png");
    background-repeat: no-repeat;
    background-position: top 270px center;
    background-size: contain;
}
.download-subtitle{
    margin-bottom: 24px;
}
.download-text{
    font-size: 18px;
    margin-bottom: 280px;
}
.download-link{
cursor: pointer;
box-shadow: 0 4px 4px 0 rgba(45, 45, 45, 0.5);
    background: #010101;
    border: 1px solid #e1cc6d;
    padding-top: 4px;
    padding-bottom: 8px;
        border-radius: 16px;
        width: 280px;
        height: 72px;
        display: flex;
        gap: 14px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
}
.visit-text{
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline;
        text-decoration-skip-ink: none;
        line-height: 1.2;
}
.visit-span{
    font-size: 16px;
}
@media only screen and (min-width: 1439px) {
  .download-section{
    background-image: url("/img/download/desk.png");
    background-size: cover;
    background-position: top center;
    height: 640px;
  }
.download-subtitle{
    margin-bottom: 8px;
}
.download-text{
    font-size: 20px;
    margin-bottom: 250px;
}
.download-link{
    margin-right: 280px;
    margin-left: auto;
}
}
/* Contact & Community */
.contact-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 266px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 24px;
    column-gap: 48px;
}
.contact-link{
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 18px;
    color: #e1cc6d;
    cursor: pointer;
}
@media only screen and (min-width: 1439px) {
 .contact-container{
    display: flex;
    align-items: center;
 }
 .contact-title-container{
    margin-bottom: 0;
 }
 .contact-wrapper{
    width: 600px;
    flex-wrap: nowrap;
 }
}